.top-bar {
    height: 70px;
}

.top-bar-inner {
    height: 70px;
    display: flex;
    width: 1026px;
    margin: 0 auto;
    justify-content: space-between;
}

.logo {
    flex-shrink: 1;
}

.icon--search--color {
    color: #A0A0A0;
}

.img-logo {
    margin-left: 18px;
    margin-top: 17px;
    width: 40px;
    height: 40px;
}

.top-bar-search {
    position: relative;
}

.top-bar-user-profile {
    display: flex;
    align-items: center;
}

.text--search--input--color {
    color: #A0A0A0;
}

.top-bar-search-inner {
    width: 538px;
}

.search-input {
    background-color: #281943;
    height: 45px;
    margin-top: 17px;
    position: relative;

    i {
        font-size: 22px;
        position: absolute;
        top: 10px;
        left: 10px;
    }

    input {
        width: 90%;
        background-color: transparent;
        position: absolute;
        top: 10px;
        left: 38px;
        font-family: inherit;
        font-size: 14px;
    }
}

.search-input-hide-autocomplete {
    border: 1px solid #403258;
    border-radius: 30px;
}

.search-input-show-autocomplete {
    border: none;
    border-radius: 25px 25px 0 0;
}

.auto-complete-items {
    background-color: #281943;
    border-radius: 0 0 25px 25px;
    padding: 15px;

    div {
        color: white;
    }
}
